<div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 60 }'>
  <% @pins.each do |pin| %>
  <div class="item">
    <%= image_tag pin.image.url(:medium) %>
    <h2><%= link_to pin.title, pin_path(pin.id) %></h2>
  </div>
  <% end %>
</div>

<div id="footer">
<%= paginate @pins %>
</div>
