<h1>New Form</h1>

<%= form_tag pins_path do %>
  Title
  <input type='text' name='title' class='form_control title-field'>
  Description
  <textarea name='description' class='form-control content-field'></textarea>
  <input type="submit" value="Create Pin" class="btn primary-btn">
<% end %>
