<h2>Title</h2>
<h4><%= @pin.title %></h4>
<h2>description</h2>
<h4><%= @pin.description %></h4>

<%= link_to "Edit", edit_pin_path(@pin.id), class: "btn edit_btn" %>
<%= link_to "delete", pin_path(@pin.id), method: "delete", class: "btn destroy-btn", "data-confirm" => "Are You Sure？" %>
