
<div class="container">
  <h1>What's Rudiments Note??</h1>
  </br>
  <h2>
    Hello Everyone!!
  </h2>
  </br>
  <h2>
  This Website's Posting Rudiments of the Lick!!
  </h2>
  <h2>
  Post your Only Music, rudiments licks & Tenor,Bass licks all of them!!
  </h2>
  </br>
  <h2>
  If you want to post a images, animal and somethings.
  </h2>
  <br/>
  <h2>
  Let's post Twitter & Instagram!!
  </h2>
</div>
