<div class="container">
  <h1>What's Pinboard??</h1>
  <p>Cliche Williamsburg flannel put a bird on it vegan, YOLO synth before they sold out ethical four loko organic meditation mlkshk brunch. Cardigan Williamsburg health goth fingerstache literally. Pour-over messenger bag disrupt Kickstarter, gastropub Wes Anderson Intelligentsia locavore meggings YOLO plaid bicycle rights migas. Chillwave Helvetica XOXO pork belly, slow-carb paleo meditation tilde PBR banh mi Pitchfork quinoa food truck four dollar toast actually. Banjo Helvetica mixtape American Apparel lumbersexual, ennui hella Portland retro kogi fap leggings. Tattooed fingerstache street art, hoodie Tumblr try-hard iPhone literally fanny pack kogi artisan. Neutra heirloom hella mustache tofu, next level health goth.</p>
</div>

<%= link_to "Top", root_path %>
