
    <h1>What's Rudiments Note??</h2>
    </br>
    <h2>Hello Everyone!!
    </h2>
  </br>
    <h2>
     This Website's Posting Rudiments of the Lick!!
    </h2>
    <h2>
    Post your Only Music, rudiments licks & Tenor,Bass licks all of them!!
    </h2>
  </br>
    <h2>
    If you want to post a images, animal and something else.
    </h2>
    <h2>
    Let's post Twitter & Instagram!!
    </h2>
</div>
